<a href="https://colab.research.google.com/github/kachina1/PythonGenAI/blob/main/Python_Lab_Class4%2C5_and_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
**They hold multiple data items**
   **They are ordered**
   **Lists are mutable**

In [ ]:
numbers=[1,5,3,10]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 5, 3, 10]

In [ ]:
Items=["Apple",150,"Salary",20000,"Weather",22.8]
print(Items[-2])
#len(Items)
print("Total length of Items = ",len(Items))

Weather
Total length of Items =  6

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
fruits.append("Orange")
print(fruits)

['apple', 'banana', 'cherry', 'Orange', 'Orange']

In [ ]:
Items.remove(22.8)

In [ ]:
print(Items)

['Apple', 150, 'Salary', 20000, 'Weather']

In [ ]:
Items[0]="biscuit"

In [ ]:
print(Items)

['biscuit', 150, 'Salary', 20000, 'Weather']

In [ ]:
fruits.insert(1,"avakaya")

In [ ]:
print(fruits)

['apple', 'avakaya', 'banana', 'cherry', 'Orange', 'Orange']

In [ ]:
fruits.sort()

In [ ]:
print(fruits)

['Orange', 'Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [ ]:
list1=[3,7,12,6,1]
list1.sort()

In [ ]:
print(list1)

[1, 3, 6, 7, 12]

In [ ]:
fruits.remove("Orange")

In [ ]:
print(fruits)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [ ]:
fruits.sort()
print(fruits)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [ ]:
fruits_copy=fruits.copy()

In [ ]:
print(fruits_copy)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

**Loops - Loops iterates over a sequence **

In [ ]:
for frut in fruits:
    print(frut)

Orange
apple
avakaya
banana
cherry

In [ ]:
for i in range(1, 6):
    print("Iteration", i)

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

In [ ]:
i = 1

while i >= 0:
  i = i + 1
  print(i)
  if i == 10:
    break

2
3
4
5
6
7
8
9
10

# **Set Methods in Python**

In [ ]:
fruits = {"apple", "banana", "orange", "banana"}
#fruits.add("orange")
print(fruits)

{'orange', 'banana', 'apple'}

# **Introduction to Dictionaries in Python**
collection of key-value pairs. Each key is unique, and it maps to a specific value. Dictionaries are unordered, changeable, and indexed by keys.

**Syntax:**

```python
dictionary_name = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}
```

In [ ]:
# Example of a dictionary with strings as keys and values
person = {
    "name": "Bhaskar",
    "age": 36,
    "city": "Pune",
    "Pin": 123456
}

print(person)

{'name': 'Bhaskar', 'age': 36, 'city': 'Pune', 'Pin': 123456}

In [ ]:
val1=person["age"]

In [ ]:
print(val1)

36

In [ ]:
person["age"]=37
print(person["age"])
age1=person["age"]
print("after 1 year from 2024 is",age1)

37
after 1 year from 2024 is 37

# **Write a code to remove dups from the list without using any builtin function?**

In [7]:
input_list=[1, 2, 3, 2, 4, 1, 5, 6, 3]
#def remove_duplicates(input_list):
#    unique_list = []
#    for item in input_list:
#        if item not in unique_list:
#            unique_list.append(item)
#    return unique_list

# Example usage
#original_list = [1, 2, 3, 2, 4, 1, 5, 6, 3]
#result = remove_duplicates(unique_list)
unique_list=remove_duplicates(input_list)
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [18]:
def remove_dups(my_test1):
    unique_lst = []
    for item in my_test1:
        if item not in unique_lst:
            unique_lst.append(item)
    return unique_lst

#my_list = [1, 2, 2, 3, 4, 4, 5]
unique_lst11 = remove_dups(my_test1)
print(unique_lst11)  # Output: [1, 2, 3, 4, 5]

[4, 8, 1, 3, 13, 7, 17]

In [13]:
my_test1=[4,8,1,4,3,13,7,3,17,1]

In [14]:
unique_lst1 = remove_dups(my_test1)

In [15]:
print(my_test1)

[4, 8, 1, 4, 3, 13, 7, 3, 17, 1]

# Example code to remove dups from the given list without uisng built in function

In [20]:
def rm_dups(input_data):
    uniq_lst = []
    for item in input_data:
        if item not in uniq_lst:
            uniq_lst.append(item)
    return uniq_lst

In [21]:
input_data=[3,7,3,4,7,2,1,7,1,4]
final_res=rm_dups(input_data)
print(final_res)

[3, 7, 4, 2, 1]

# second example

In [26]:
input_data=[3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,18,
     3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1]
final_res=rm_dups(input_data)
print(final_res)

[3, 7, 4, 2, 1, 17, 6, 8, 13, 15, 19, 18, 5, 9, 181]

In [29]:
from os import remove


uni_lst=remove_dups(input_data1)
print(uni_lst)

TypeError: remove: path should be string, bytes or os.PathLike, not list

In [31]:
from os import remove

In [32]:
input_data1=[3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,18,
     3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1,
            3,7,3,4,7,2,1,7,1,4,17,6,8,17,13,15,17,19,13,17,18,3,5,5,6,6,8,9,18,181,18,18,1]

In [33]:
import numpy as np

In [35]:
uniq1=list(np.unique(input_data1))
print(uniq1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 15, 17, 18, 19, 181]

In [36]:
set1=set(input_data1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 15, 17, 18, 19, 181}

In [38]:
list1=list(set1)

In [39]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 15, 17, 18, 19, 181]