<a href="https://colab.research.google.com/github/kachina1/PythonGenAI/blob/main/Python_Lab_Class4%2C5_and_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
**They hold multiple data items**
   **They are ordered**
   **Lists are mutable**

In [5]:
numbers=[1,5,3,10]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 5, 3, 10]

In [17]:
Items=["Apple",150,"Salary",20000,"Weather",22.8]
print(Items[-2])
#len(Items)
print("Total length of Items = ",len(Items))

Weather
Total length of Items =  6

In [18]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [21]:
fruits.append("Orange")
print(fruits)

['apple', 'banana', 'cherry', 'Orange', 'Orange']

In [22]:
Items.remove(22.8)

In [23]:
print(Items)

['Apple', 150, 'Salary', 20000, 'Weather']

In [24]:
Items[0]="biscuit"

In [25]:
print(Items)

['biscuit', 150, 'Salary', 20000, 'Weather']

In [30]:
fruits.insert(1,"avakaya")

In [31]:
print(fruits)

['apple', 'avakaya', 'banana', 'cherry', 'Orange', 'Orange']

In [32]:
fruits.sort()

In [33]:
print(fruits)

['Orange', 'Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [34]:
list1=[3,7,12,6,1]
list1.sort()

In [35]:
print(list1)

[1, 3, 6, 7, 12]

In [37]:
fruits.remove("Orange")

In [38]:
print(fruits)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [39]:
fruits.sort()
print(fruits)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

In [40]:
fruits_copy=fruits.copy()

In [41]:
print(fruits_copy)

['Orange', 'apple', 'avakaya', 'banana', 'cherry']

**Loops - Loops iterates over a sequence **

In [42]:
for frut in fruits:
    print(frut)

Orange
apple
avakaya
banana
cherry

In [43]:
for i in range(1, 6):
    print("Iteration", i)

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

In [44]:
i = 1

while i >= 0:
  i = i + 1
  print(i)
  if i == 10:
    break

2
3
4
5
6
7
8
9
10

# **Set Methods in Python**

In [47]:
fruits = {"apple", "banana", "orange", "banana"}
#fruits.add("orange")
print(fruits)

{'orange', 'banana', 'apple'}

# **Introduction to Dictionaries in Python**
collection of key-value pairs. Each key is unique, and it maps to a specific value. Dictionaries are unordered, changeable, and indexed by keys.

**Syntax:**

```python
dictionary_name = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}
```

In [49]:
# Example of a dictionary with strings as keys and values
person = {
    "name": "Bhaskar",
    "age": 36,
    "city": "Pune",
    "Pin": 123456
}

print(person)

{'name': 'Bhaskar', 'age': 36, 'city': 'Pune', 'Pin': 123456}

In [51]:
val1=person["age"]

In [52]:
print(val1)

36

In [59]:
person["age"]=37
print(person["age"])
age1=person["age"]
print("after 1 year from 2024 is",age1)

37
after 1 year from 2024 is 37