<a href="https://colab.research.google.com/github/kachina1/PythonGenAI/blob/main/Python_Lab_Class1%2C2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Python Programming**

In [ ]:
#print function
print("Hello Bhaskar", "Welcome to Python world")

Hello Bhaskar Welcome to Python world

In [ ]:
Name = "Bhaskar"
Organization = "IBM"
print(Name,"is working in " + Organization)

Bhaskar is working in IBM

**Variables and Data types**

In [ ]:
var1=13
var2="Bhaskar"
var3=18.5
print(type(var1),type(var2),type(var3))

<class 'int'> <class 'str'> <class 'float'>

**Input() function usage**

In [ ]:
name=input("Enter your Name = ")

Enter your Name = Bhaskar Kachina

In [ ]:
# simple addition calculator
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
print("The sum of the two numbers is:", sum)
print("The sub of the two numbers is:", sub)
print("The mul of the two numbers is:", mul)
print("The div of the two numbers is:", div)

Enter the first number: 13
Enter the second number: 3
The sum of the two numbers is: 16.0
The sub of the two numbers is: 10.0
The mul of the two numbers is: 39.0
The div of the two numbers is: 4.333333333333333

**Comparison and Logical Operators in Python**

In [ ]:
a = 13
b = 6

print(a > b)   # True
print(a == b)  # False
print(a != b)  # True

True
False
True

Comparison and Logical **Operators**

In [ ]:
age = float(input("Enter the age: "))
income =float(input("Enter the salary: "))

if age >= 18 and income >= 25000:
    print("Eligible for the loan")
else:
    print("Not eligible for the loan")

Enter the age: 16
Enter the salary: 30000
Not eligible for the loan

In [ ]:
std_marks=int(input("Enter the marks: "))
if std_marks >= 35:
  print("student is passed")
else:
  print("student is failed")

Enter the marks: 35
student is passed

**Loops in Python**

In [ ]:
i = 1
while i <= 4:
    print("iteration", i)
    i += 1

iteration 1
iteration 2
iteration 3
iteration 4

Assignment 1: Practicing print() Statements
Task: Write a Python program that prints the following:

Your full name.
Your favorite hobby.
The number of hours you spend on your hobby each week.

In [14]:
fname="Bhaskar Kachina"
hobby="listning music"
hours=1.5
print(fname)
print(hobby)
print(hours)

Bhaskar Kachina
listning music
1.5

In [6]:
Fullname=input("Enter your full name=")
Hobby=input("Enter your favorite hobby=")
Hours=input("The number of hours you spend on your hobby each week?")

print(Fullname)
print(Hobby)
print(Hours)

Enter your full name=Bhaskar Kachina
Enter your favorite hobby=Reading books
The number of hours you spend on your hobby each week?2
Bhaskar Kachina
Reading books
2

Assignment 2: Working with Variables
Task: Create variables to store the following information:

Your name.
Your age.
Your favorite color.
Print a sentence that includes all this information.
Example Output:

My name is John Doe, I am 25 years old, and my favorite color is blue.

In [13]:
name="Bhaskar"
age=36
color="Blue"
print("my name is",name, ",I am",age,"years old,","and my favorite color is",color,".")

my name is Bhaskar ,I am 36 years old, and my favorite color is Blue .

In [10]:
yourname=input("enter your name ")
yourage=input("enter ur age ")
yourfavcolor=input("enter your favcolor ")
print("my name is",yourname, ",I am",yourage,"years old",",and my favorite color is",yourfavcolor,".")

enter your name Bhaskar
enter ur age 36
enter your favcolor Blue
my name is Bhaskar ,I am 36 years old ,and my favorite color is Blue .

**Assignment 5: Combining Strings and Numbers**
**Task: Write a program that: **

Asks the user for their name and their favorite number.
Prints a message that says, "Hello, [name]! Did you know that [favorite number] times 2 is [result]?"
Example Interaction:

Enter your name: Alice
Enter your favorite number: 7
Hello, Alice! Did you know that 7 times 2 is 14?

In [34]:
uname=input("Enter name ")
fnum=int(input("Enter your Fav number "))

fnum_res= fnum * 2

print("Hello, "+ str(uname)+"! Did you know that ", fnum, " times 2 is ", fnum_res,"?",sep='')

Enter name Bhaskar
Enter your Fav number 50000
Hello, Bhaskar! Did you know that 50000 times 2 is 100000?

In [29]:
print('Hello', 'World', sep='')

HelloWorld

In [35]:
print("Hello, {} ! Did you know that {} times 2 is {}?". format(uname,fnum,fnum_res))

Hello, Bhaskar ! Did you know that 50000 times 2 is 100000?

**Solution 4: Sum of Even Numbers**

In [36]:
total = 0

for number in range(1, 101):
    if number % 2 == 0:
        total += number

print("The sum of even numbers between 1 and 100 is:", total)

The sum of even numbers between 1 and 100 is: 2550

**Multiple cation table**

In [1]:
number = int(input("Enter a number: "))

print("Multiplication table for", number)
for i in range(1, 11):
    print(number, "x", i, "=", number * i)

Enter a number: 2
Multiplication table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
countdown = int(input("Enter a number to start the countdown: "))

while countdown >= 0:
    print(countdown)
    countdown -= 1

print("Blast off!")

Enter a number to start the countdown: 10
10
9
8
7
6
5
4
3
2
1
0
Blast off!

In [4]:
correct_password = "python123"
password = input("Enter the password: ")

while password != correct_password:
    print("Incorrect password, try again.")
    password = input("Enter the password: ")

print("Access granted")

Enter the password: welcome123
Incorrect password, try again.
Enter the password: python123
Access granted

FizzBuzz

In [5]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz