<a href="https://colab.research.google.com/github/kachina1/PythonGenAI/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Python Programming**

In [1]:
#print function
print("Hello Bhaskar", "Welcome to Python world")

Hello Bhaskar Welcome to Python world

In [5]:
Name = "Bhaskar"
Organization = "IBM"
print(Name,"is working in " + Organization)

Bhaskar is working in IBM

**Variables and Data types**

In [7]:
var1=13
var2="Bhaskar"
var3=18.5
print(type(var1),type(var2),type(var3))

<class 'int'> <class 'str'> <class 'float'>

**Input() function usage**

In [8]:
name=input("Enter your Name = ")

Enter your Name = Bhaskar Kachina

In [11]:
# simple addition calculator
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
print("The sum of the two numbers is:", sum)
print("The sub of the two numbers is:", sub)
print("The mul of the two numbers is:", mul)
print("The div of the two numbers is:", div)

Enter the first number: 13
Enter the second number: 3
The sum of the two numbers is: 16.0
The sub of the two numbers is: 10.0
The mul of the two numbers is: 39.0
The div of the two numbers is: 4.333333333333333

**Comparison and Logical Operators in Python**

In [12]:
a = 13
b = 6

print(a > b)   # True
print(a == b)  # False
print(a != b)  # True

True
False
True

Comparison and Logical **Operators**

In [13]:
age = float(input("Enter the age: "))
income =float(input("Enter the salary: "))

if age >= 18 and income >= 25000:
    print("Eligible for the loan")
else:
    print("Not eligible for the loan")

Enter the age: 16
Enter the salary: 30000
Not eligible for the loan

In [17]:
std_marks=int(input("Enter the marks: "))
if std_marks >= 35:
  print("student is passed")
else:
  print("student is failed")

Enter the marks: 35
student is passed

**Loops in Python**

In [18]:
i = 1
while i <= 4:
    print("iteration", i)
    i += 1

iteration 1
iteration 2
iteration 3
iteration 4